# Data Challenge

**Autor:** Daniel D√°vila Lesmes 
<br>
**Contact me:** danielandresd998@gmail.com - https://www.linkedin.com/in/danielandresd/
<br>
ETL Process from Data Fans Challenge
<br>
Check the discord channel on: https://discord.gg/cmHQGhGy

# Business Case

## Benvido case

An e-commerce company called Benvindo, located in Brazil, has shared their data with you. The General Management is interested in learning more about their business operations. They want to know more about their products and their customers in order to make decisions regarding their product lines.

ü§î They are unsure which products are most valuable to their customers and they believe they can optimize their inventory by better selecting their offerings to the public.

For this reason, they have decided to work with you. You can use the visualization tool(s) or programming language of your preference, such as :sql: :excel: :powerbi: :python: to work on the data model, process the data and present your results. Keep in mind that the project you develop must be understandable for the end client proposed in this case, which is the General Manager of the e-commerce and the Sales Manager.

üë©‚Äçüíº QUESTIONS TO SOLVE üë®‚Äçüíº

Section A

What are the product categories with the highest sales?
Which categories have the highest shipping costs?
Which of these categories, taking only shipping costs into account, has the highest profit margin?
We believe that products with better reviews are the ones with the most sales. Is this really the case?
What is the preferred payment method for customers? And does it coincide with the payment method with the highest cash flow?

Section B
Perform an analysis of this data to find any insights üí° that you think are relevant for the company. Explain the process you carried out, whether you developed any data cleaning and preparation processes, the conclusions you reached, and the limitations or improvements that the analysis has.

Use the information provided to reach your results. Graph or present in tables the information that you find most relevant. Make recommendations based on your findings

## Working data

5 Excel files with the data schema tables:
- olist_order_items_dataset.csv
- olist_order_payments_dataset.csv
- olist_order_reviews_dataset.csv
- olist_orders_dataset.csv
- olist_products_dataset.csv

1 more Excel file with the product names and their translation into Spanish:
- product_category_name_translation.csv

# ETL process dev

## 1. Import Modules

In [1]:
"""Import modules"""
import pandas as pd

In [2]:
"""Import functions from personal modules"""
from personal_modules.database_functions import create_insert_query_from_df
from personal_modules.etl_functions import extract_data
from personal_modules.etl_functions import list_outer_values

## 2 Add files paths

In [3]:
db_credentials_json_path='settings/data-import-user-cred.json' # Db credentials from json file
original_datasets_path='original_datasets/' # Datasets Folder path 

"""Create datasets paths"""

product_categories_path= original_datasets_path + 'product_category_name_translation.csv'
products_path=           original_datasets_path + 'olist_products_dataset.csv'
orders_path=             original_datasets_path + 'olist_orders_dataset.csv'
order_reviews_path=      original_datasets_path + 'olist_order_reviews_dataset.csv'
order_payments_path=     original_datasets_path + 'olist_order_payments_dataset.csv'
order_items_path=        original_datasets_path + 'olist_order_items_dataset.csv'

## 3. Extract

### 3.1. Create datasets

Extract data from csv and transform to pandas DataFrames
<br>
The extract includes preprocessing functions for rows dataframe (drop_duplicates,drop_na)

In [4]:
product_categories_df=extract_data(product_categories_path)
products_df=extract_data(products_path)
orders_df=extract_data(orders_path)
order_reviews_df=extract_data(order_reviews_path)
order_payments_df=extract_data(order_payments_path)
order_items_df=extract_data(order_items_path)

## 4. Transform

### 4.1. View general info from datasets

In [5]:
print(product_categories_df.info())
print("**"*50)
print(product_categories_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.7+ KB
None
****************************************************************************************************
       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

In [6]:
print(products_df.info())
print("**"*50)
print(products_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32340 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32340 non-null  object
 1   product_category_name       32340 non-null  object
 2   product_name_lenght         32340 non-null  float64
 3   product_description_lenght  32340 non-null  float64
 4   product_photos_qty          32340 non-null  float64
 5   product_weight_g            32340 non-null  float64
 6   product_length_cm           32340 non-null  float64
 7   product_height_cm           32340 non-null  float64
 8   product_width_cm            32340 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.5+ MB
None
****************************************************************************************************
       product_name_lenght  product_description_lenght  product_photos_qty  \
count         32340.000000                32340.000000        32340.000000
mean             48.476592                  771.492393            2.188961
std              10.245699                  635.124831            1.736787
min               5.000000                    4.000000            1.000000
25%              42.000000                  339.000000            1.000000
50%              51.000000                  595.000000            1.000000
75%              57.000000                  972.000000            3.000000
max              76.000000                 3992.000000           20.000000

       product_weight_g  product_length_cm  product_height_cm  \
count      32340.000000       32340.000000       32340.000000
mean        2276.956586          30.854545          16.958813
std         4279.291845          16.955965          13.636115
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1900.000000          38.000000          21.000000
max        40425.000000         105.000000         105.000000

       product_width_cm
count      32340.000000
mean          23.208596
std           12.078762
min            6.000000
25%           15.000000
50%           20.000000
75%           30.000000
max          118.000000

In [7]:
print(orders_df.info())
print("**"*50)
print(orders_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96461 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96461 non-null  object
 1   customer_id                    96461 non-null  object
 2   order_status                   96461 non-null  object
 3   order_purchase_timestamp       96461 non-null  object
 4   order_approved_at              96461 non-null  object
 5   order_delivered_carrier_date   96461 non-null  object
 6   order_delivered_customer_date  96461 non-null  object
 7   order_estimated_delivery_date  96461 non-null  object
dtypes: object(8)
memory usage: 6.6+ MB
None
****************************************************************************************************
                                order_id                       customer_id  \
count                              96461                             96461
unique                             96461                             96461
top     e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         96461                    96461                96461
unique            2                    95939                88272
top       delivered      2018-08-02 12:05:26  2018-02-27 04:31:10
freq          96455                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         96461                         96461
unique                        80100                         95649
top             2018-05-09 15:48:00           2018-05-14 20:02:44
freq                             47                             3

       order_estimated_delivery_date
count                          96461
unique                           445
top              2017-12-20 00:00:00
freq                             507

In [8]:
print(order_reviews_df.info())
print("**"*50)
print(order_reviews_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9839 entries, 9 to 99200
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                9839 non-null   object
 1   order_id                 9839 non-null   object
 2   review_score             9839 non-null   int64
 3   review_comment_title     9839 non-null   object
 4   review_comment_message   9839 non-null   object
 5   review_creation_date     9839 non-null   object
 6   review_answer_timestamp  9839 non-null   object
dtypes: int64(1), object(6)
memory usage: 614.9+ KB
None
****************************************************************************************************
       review_score
count   9839.000000
mean       3.837585
std        1.556435
min        1.000000
25%        3.000000
50%        5.000000
75%        5.000000
max        5.000000

In [9]:
print(order_payments_df.info())
print("**"*50)
print(order_payments_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.8+ MB
None
****************************************************************************************************
       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [10]:
print(order_items_df.info())
print("**"*50)
print(order_items_df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.9+ MB
None
****************************************************************************************************
       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

### 4.2. Clean data

#### 4.2.1. Product Categories dataset

In [11]:
"""View columns sample"""
product_categories_df.sample()

  product_category_name product_category_name_english
8             telefonia                     telephony

In [12]:
""" Remove spaces, drop duplicates from pk & unique columns, to_lower for key colums"""
product_categories_df.product_category_name= product_categories_df.product_category_name.str.strip().str.lower().drop_duplicates()
product_categories_df.product_category_name_english= product_categories_df.product_category_name_english.str.strip().str.lower().drop_duplicates()
product_categories_df.sample()

   product_category_name product_category_name_english
56    eletrodomesticos_2             home_appliances_2

In [13]:
"""Add unknown category for outer products"""
unknown_category= {'product_category_name': 'desconhecido', 'product_category_name_english': 'unknown'}
product_categories_df = product_categories_df.append(unknown_category, ignore_index=True)

C:\Users\danie\AppData\Local\Temp\ipykernel_8956\3845767011.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_categories_df = product_categories_df.append(unknown_category, ignore_index=True)

#### 4.2.2. Products Dataset

In [14]:
"""View columns"""
products_df.sample()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
16418,68b92c941d4052c59ba87c2b2824bfa8,cama_mesa_banho,54.0,373.0,1.0,1750.0,40.0,5.0,30.0

In [15]:
""" Remove spaces, drop duplicates from pk & unique columns, to_lower for key colums"""
products_df.product_id=products_df.product_id.str.strip().str.lower().drop_duplicates()
products_df.product_category_name=products_df.product_category_name.str.strip().str.lower()
"""Set columns to integer values"""
products_df.product_name_lenght=products_df.product_name_lenght.astype(int)
products_df.product_description_lenght=products_df.product_description_lenght.astype(int)
products_df.product_photos_qty=products_df.product_photos_qty.astype(int)
products_df.sample()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
29887,9bd17c3e3b0cbbb8c17af66a7079407b,moveis_decoracao,30,207,1,250.0,16.0,28.0,16.0

In [16]:
"""Vefify outer values from FK product_categories table"""
print(list_outer_values(product_categories_df,'product_category_name',products_df,'product_category_name'))

['pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos']

In [17]:
"""Add register for outer values"""
product_categories_df=product_categories_df.append({'product_category_name': 'portateis_cozinha_e_preparadores_de_alimentos', 'product_category_name_english': 'portable_kitchen_and_food_processors'},ignore_index=True)
product_categories_df=product_categories_df.append({'product_category_name': 'pc_gamer', 'product_category_name_english': 'pc_gamer'},ignore_index=True)

C:\Users\danie\AppData\Local\Temp\ipykernel_8956\1014948740.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_categories_df=product_categories_df.append({'product_category_name': 'portateis_cozinha_e_preparadores_de_alimentos', 'product_category_name_english': 'portable_kitchen_and_food_processors'},ignore_index=True)
C:\Users\danie\AppData\Local\Temp\ipykernel_8956\1014948740.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_categories_df=product_categories_df.append({'product_category_name': 'pc_gamer', 'product_category_name_english': 'pc_gamer'},ignore_index=True)